<li>
  {{rental.owner}}'s {{rental.type}} in {{rental.city}}
  {{#if isImageShowing}}
    <p>
      <img class='img-responsive' src={{rental.image}} alt="Rental Image" {{action 'imageHide'}} />
    </p>
  {{else}}
    <button class='btn btn-info' {{action 'imageShow'}}>Show Image</button>
  {{/if}}
  <button {{action 'delete' rental}} class="btn btn-danger">Delete Rental</button>
</li>
